.selectinput ::ng-deep .p-dropdown {
  width: 100%;
}

.selectinput ::ng-deep .p-multiselect {
  width: 100%;
}

.text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 132px;
}
