<div
  class="layout-sidebar"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="sidebar-header">
    <a [routerLink]="['/']" class="app-logo">
      <svg
        viewBox="0 0 150 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="app-logo-normal"
      >
        <!--<path
                    d="M10.4851 0L0 20.9465H3.53702L10.4856 6.07843L17.2944 20.9465H20.9715L10.4851 0Z"
                    fill="var(--logo-color)"
                />
                <path
                    d="M13.84 15.7927L16.2077 21.0016H11.7682L13.84 15.7927Z"
                    fill="var(--logo-color)"
                />
                <path
                    d="M9.04645 21.0016L6.67875 15.7927L4.60701 21.0016H9.04645Z"
                    fill="var(--logo-color)"
                />-->
        <text
          x="75"
          y="12"
          text-anchor="middle"
          font-size="1.8em"
          dominant-baseline="middle"
          font-family="game-pixel"
          fill="var(--logo-color)"
        >
          Spell Book
        </text>
      </svg>
      <svg
        width="21"
        height="22"
        viewBox="0 0 21 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="app-logo-small"
      >
        <path
          d="M10.4851 0L0 20.9465H3.53702L10.4856 6.07843L17.2944 20.9465H20.9715L10.4851 0Z"
          fill="var(--logo-color)"
        />
        <path
          d="M13.8399 15.793L16.2076 21.0019H11.7681L13.8399 15.793Z"
          fill="var(--logo-color)"
        />
        <path
          d="M9.04637 21.0019L6.67867 15.793L4.60693 21.0019H9.04637Z"
          fill="var(--logo-color)"
        />
      </svg>
    </a>
    <button
      class="layout-sidebar-anchor p-link z-2 mb-2"
      type="button"
      (click)="anchor()"
    ></button>
  </div>

  <div #menuContainer class="layout-menu-container">
    <app-menu></app-menu>
  </div>
</div>
