<div class="grid flex" style="position: relative">
  <div class="pr-3" style="position: absolute; right: 78px; top: -56px">
    <button
      pButton
      type="button"
      icon="pi pi-directions-alt"
      class="p-button flex-shrink-0 p-button-outlined"
    >
      &nbsp;Back to Allies
    </button>
  </div>
</div>
<div class="card">
  <div class="grid">
    <p-fieldset
      legend="Basic Information"
      [toggleable]="false"
      class="line-height-3 m-0 grid col-7"
    >
      <ng-template pTemplate="content">
        <div class="grid w-full m-0">
          <div class="col-4">
            <label>Name</label>
            <input
              [(ngModel)]="currentAlly.name"
              tabindex="1"
              class="p-inputtext p-component p-element w-full"
              type="text"
              pInputText
            />
          </div>
          <!-- ... other input fields ... -->
          <div class="col-4">
            <label>Tag Line</label>
            <input
              [(ngModel)]="currentAlly.tag_line"
              tabindex="3"
              class="p-inputtext p-component p-element w-full"
              type="text"
              pInputText
            />
          </div>
          <div class="col-4">
            <label>Wake Phrase(s)</label>
            <input
              [(ngModel)]="currentAlly.wake_words"
              tabindex="5"
              class="p-inputtext p-component p-element w-full"
              type="text"
              pInputText
            />
          </div>
          <div class="col-4">
            <label>Voice</label>
            <input
              [(ngModel)]="currentAlly.voice"
              tabindex="2"
              class="p-inputtext p-component p-element w-full"
              type="text"
              pInputText
            />
          </div>
          <div class="col-4">
            <label>Preferred Model</label>
            <input
              [(ngModel)]="currentAlly.use_model"
              tabindex="4"
              class="p-inputtext p-component p-element w-full"
              type="text"
              pInputText
            />
          </div>
          <div class="col-4">
            <label>Context Limits</label>
            <input
              [(ngModel)]="currentAlly.chat_round_limits"
              tabindex="6"
              class="p-inputtext p-component p-element w-full"
              type="text"
              pInputText
            />
          </div>
          <div class="col-12">
            <label>Short Description</label>
            <input
              [(ngModel)]="currentAlly.short_description"
              tabindex="7"
              class="p-inputtext p-component p-element w-full"
              type="text"
              pInputText
            />
          </div>
        </div>
      </ng-template>
    </p-fieldset>

    <p-fieldset
      legend="Conversation Settings"
      [toggleable]="false"
      class="col-5"
    >
      <ng-template pTemplate="content">
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2">Function Calling</label>
        </div>
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2">Model Routing</label>
        </div>
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2">📌 Manual Functions</label>
        </div>
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2">📌 Manual Model Routing</label>
        </div>
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2">🔉 Auto submit microphone input</label>
        </div>
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2">🔉 Use xTTS to vocalize model response</label>
        </div>
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2"
            >🔉 Switch to alternate allies on wake work detection</label
          >
        </div>
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2"
            >Fact check model response using Bing Search</label
          >
        </div>
        <div class="w-full flex" style="align-items: center">
          <p-inputSwitch></p-inputSwitch>
          <label class="ml-2"
            >Name conversation automatically after two rounds</label
          >
        </div>
      </ng-template>
    </p-fieldset>
    <p-fieldset
      legend="Generation Settings"
      [toggleable]="false"
      class="line-height-3 m-0 col-4"
    >
      <ng-template pTemplate="content">
        <label class="mt-0">Top K</label>
        <input
          class="p-inputtext p-component p-element w-full"
          type="text"
          pInputText
          [(ngModel)]="currentAlly.top_k"
          [disabled]="true"
        />
        <p-slider
          [min]="1"
          [max]="256"
          [step]="1"
          [(ngModel)]="currentAlly.top_k"
          class="w-full"
        ></p-slider>
        <label class="mt-3 flex">Top P</label>
        <input
          class="p-inputtext p-component p-element w-full"
          type="text"
          pInputText
          style="width: 100%"
          [(ngModel)]="currentAlly.top_p"
          [disabled]="true"
        />
        <p-slider
          [min]="0"
          [max]="1"
          [step]="0.01"
          [(ngModel)]="currentAlly.top_p"
          class="w-full"
        ></p-slider>
        <label class="mt-3 flex">Min P</label>
        <input
          class="p-inputtext p-component p-element w-full"
          type="text"
          pInputText
          style="width: 100%"
          [(ngModel)]="currentAlly.min_p"
          [disabled]="true"
        />
        <p-slider
          [min]="0"
          [max]="1"
          [step]="0.01"
          [(ngModel)]="currentAlly.min_p"
          class="w-full"
        ></p-slider>
        <label class="mt-3 flex">Temperature</label>
        <input
          class="p-inputtext p-component p-element w-full"
          type="text"
          pInputText
          style="width: 100%"
          [(ngModel)]="currentAlly.temperature"
          [disabled]="true"
        />
        <p-slider
          [min]="0"
          [max]="2"
          [step]="0.01"
          [(ngModel)]="currentAlly.temperature"
          class="w-full"
        ></p-slider>
        <label class="mt-3 flex">Mirostat</label>
        <p-dropdown
          class="selectinput w-full"
          [options]="mirostatOptions"
          [(ngModel)]="currentAlly.mirostat"
        ></p-dropdown>
        <div class="m-0 p-0 mt-2 w-full" *ngIf="currentAlly.mirostat">
          <label class="mt-3 flex">Mirostat Tau</label>
          <input
            class="p-inputtext p-component p-element w-full"
            type="text"
            pInputText
            [(ngModel)]="currentAlly.mirostat_tau"
            [disabled]="true"
          />
          <p-slider
            [min]="0"
            [max]="10"
            [step]="1"
            [(ngModel)]="currentAlly.mirostat_tau"
            class="w-full"
          ></p-slider>
        </div>
        <div class="m-0 p-0 w-full" *ngIf="currentAlly.mirostat">
          <label class="mt-3 flex">Mirostat Eta</label>
          <input
            class="p-inputtext p-component p-element w-full"
            type="text"
            pInputText
            [(ngModel)]="currentAlly.mirostat_eta"
            [disabled]="true"
          />
          <p-slider
            [min]="0"
            [max]="10"
            [step]="0.01"
            [(ngModel)]="currentAlly.mirostat_eta"
            class="w-full"
          ></p-slider>
        </div>
        <label class="mt-3 flex">Seed</label>
        <input
          class="p-inputtext p-component p-element w-full"
          pInputText
          style="width: 100%"
          [(ngModel)]="currentAlly.seed"
          [pKeyFilter]="'int'"
        />
      </ng-template>
    </p-fieldset>

    <p-fieldset
      legend="Character Image"
      [toggleable]="false"
      class="line-height-3 m-0 col-4"
      style="height: fit-content"
    >
      <ng-template pTemplate="content">
        <div
          class="grid flex justify-content-between"
          style="overflow: auto; max-height: 484px"
        >
          <div
            class="col-4 p-0 m-0"
            style="cursor: pointer"
            (click)="selectCharacterImage(image)"
            *ngFor="let image of characterImages"
          >
            <img
              [src]="getImageUrl(image.image_url)"
              width="100%"
              class="p-2"
              style="pointer-events: none"
            />
          </div>
        </div>
      </ng-template>
    </p-fieldset>

    <p-fieldset
      legend="Location Image"
      [toggleable]="false"
      class="line-height-3 m-0 col-4"
    >
      <ng-template pTemplate="content">
        <div
          class="grid flex justify-content-between"
          style="overflow: auto; max-height: 484px"
        >
          <div
            class="col-4 p-0 m-0"
            style="cursor: pointer"
            (click)="selectCharacterImage(image)"
            *ngFor="let image of characterImages"
          >
            <img
              [src]="getImageUrl(image.image_url)"
              width="100%"
              class="p-2"
              style="pointer-events: none"
            />
          </div>
        </div>
      </ng-template>
    </p-fieldset>

    <p-fieldset
      legend="Conversation Tone"
      [toggleable]="false"
      class="line-height-3 m-0 col-7"
    >
      <ng-template pTemplate="content">
        <div class="grid flex">
          <div class="col-12">
            <label>User Input</label>
            <textarea
              rows="8"
              tabindex="6"
              class="p-inputtext p-component p-element w-full"
              pInputTextArea
            ></textarea>
          </div>
          <div class="col-12">
            <label>Ally Output</label>
            <textarea
              rows="8"
              tabindex="6"
              class="p-inputtext p-component p-element w-full"
              pInputTextArea
            ></textarea>
          </div>
        </div>
      </ng-template>
    </p-fieldset>
    <p-fieldset
      legend="Character Card"
      [toggleable]="false"
      class="line-height-3 m-0 col-5"
    >
      <ng-template pTemplate="content">
        <div class="grid flex">
          <div class="col-12">
            <textarea
              rows="8"
              tabindex="6"
              class="p-inputtext p-component p-element w-full"
              pInputTextArea
            ></textarea>
          </div>
        </div>
      </ng-template>
    </p-fieldset>

    <div class="col-12 flex justify-content-between">
      <div></div>
      <div>
        <button
          pButton
          type="button"
          icon="pi pi-ban"
          class="p-button-secondary flex-shrink-0 p-button-outlined mr-2"
        >
          &nbsp;Cancel
        </button>
        <button
          pButton
          type="button"
          icon="pi pi-save"
          class="p-button flex-shrink-0"
        >
          &nbsp;{{ true ? "Save" : "Create" }}
        </button>
      </div>
    </div>
  </div>
</div>
