@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.shake-text {
  animation: shake 0.5s;
  animation-iteration-count: 2;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
