$primaryColor: #f59e0b !default;
$primaryLightColor: #fde68a !default;
$primaryDarkColor: #d97706 !default;
$primaryDarkerColor: #b45309 !default;
$primaryTextColor: #ffffff !default;
$primary500:#f59e0b !default;

$highlightBg: #fffbeb !default;
$highlightTextColor: $primaryDarkerColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';
