.req-skills {
  width: 100%;
  display: flex;
  b,
  p {
    float: left;
  }

  p {
    margin-left: 10px;
  }
  .is-offline {
    font-weight: 600;
    color: rgb(156, 19, 19);
  }
  .is-offline:before {
    content: "\e922";
    font-family: "primeicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
  }

  .is-online {
    font-weight: 600;
    color: rgb(22, 120, 13);
  }
}

.spellcard {
  width: 75%
}